<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_14_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,375},{177,369}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{177,369}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,373},{179,367}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{179,367}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1492},{177,367}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{177,367}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{177,367}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,367}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{175,369}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,369}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,377},{171,371}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,371}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{169,373}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,373}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,756},{167,373}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,373}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{165,371}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,371}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1131},{163,371}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,371}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1116},{159,367}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,367}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_14_yd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1110},{157,361}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,361}}</string>
                <key>sourceSize</key>
                <string>{181,377}</string>
            </dict>
            <key>fish_15_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2},{132,300}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,300}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,424},{134,292}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,292}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{134,312}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{134,312}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1097},{142,306}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1835},{146,302}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,302}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,136},{146,298}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,298}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2},{146,298}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,298}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1782},{146,298}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,298}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1340},{144,300}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,300}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,662},{140,304}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,304}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{134,306}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,354},{134,306}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,594},{134,286}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,286}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1912},{134,306}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1032},{132,306}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1405},{132,306}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,310},{132,302}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,302}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,560},{136,286}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,286}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,302},{138,290}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,290}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,284},{138,294}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,294}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1642},{138,300}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,300}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,724},{138,306}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,306}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1468},{136,312}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,312}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_15_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1468},{136,312}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,312}}</string>
                <key>sourceSize</key>
                <string>{150,312}</string>
            </dict>
            <key>fish_16_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{160,366}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,366}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,739},{162,356}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,356}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{164,382}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{164,382}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{172,376}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{172,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1504},{178,370}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{178,370}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1122},{178,368}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{178,368}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,742},{184,366}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,366}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,371},{176,366}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{176,366}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,746},{174,368}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{174,368}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,380},{170,374}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,374}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1150},{164,376}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1534},{164,376}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{164,350}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,350}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{164,376}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,376}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1528},{162,376}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,750},{160,370}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,370}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,370},{166,352}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,352}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1110},{166,356}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,356}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1473},{168,360}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{168,360}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1876},{168,368}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,368}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,772},{168,376}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,376}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{166,382}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{166,382}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_16_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,384}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{166,384}}</string>
                <key>sourceSize</key>
                <string>{184,384}</string>
            </dict>
            <key>fish_19_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1014},{130,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,962},{130,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,962},{130,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,830},{130,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,882},{130,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,698},{130,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,698},{130,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1782},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1782},{130,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1917},{128,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{128,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1917},{128,131}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{128,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fish_19_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,830},{130,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_yd_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495fb980f9b86b480de9c0c339978897:1/1$</string>
            <key>textureFileName</key>
            <string>fish_yd_1.png</string>
        </dict>
    </dict>
</plist>
