<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1274},{204,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,153}}</string>
                <key>sourceSize</key>
                <string>{206,155}</string>
            </dict>
            <key>btn_sys_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1860},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>btn_zdy_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1852},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>qr_btn_save_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1684},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_save_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1274},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1484},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1484},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,590},{678,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,730}}</string>
                <key>sourceSize</key>
                <string>{678,730}</string>
            </dict>
            <key>qr_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,629},{217,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,51}}</string>
                <key>sourceSize</key>
                <string>{217,51}</string>
            </dict>
            <key>sp_head_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1098,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1098,580}}</string>
                <key>sourceSize</key>
                <string>{1098,580}</string>
            </dict>
            <key>sp_head_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1274},{678,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,430}}</string>
                <key>sourceSize</key>
                <string>{678,430}</string>
            </dict>
            <key>sp_normal_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1838},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>sp_promoter_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1684},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
            <key>sp_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1948},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>sp_select_head_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1474},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>sp_sys_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1758},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>uinfo_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1758},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>uinfo_btn_contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1728},{118,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{118,138}</string>
            </dict>
            <key>uinfo_btn_copy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1484},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>uinfo_btn_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1958},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>uinfo_btn_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,629},{113,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,138}}</string>
                <key>sourceSize</key>
                <string>{113,138}</string>
            </dict>
            <key>uinfo_btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1933},{110,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,138}}</string>
                <key>sourceSize</key>
                <string>{110,138}</string>
            </dict>
            <key>uinfo_sp_copytips.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,590},{362,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{362,33}}</string>
                <key>sourceSize</key>
                <string>{364,35}</string>
            </dict>
            <key>uinfo_sp_edit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1958},{396,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,73}}</string>
                <key>sourceSize</key>
                <string>{396,73}</string>
            </dict>
            <key>uinfo_sp_giventips.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1274},{580,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,44}}</string>
                <key>sourceSize</key>
                <string>{580,44}</string>
            </dict>
            <key>uinfo_sp_qrtips.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,686},{206,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,58}}</string>
                <key>sourceSize</key>
                <string>{208,60}</string>
            </dict>
            <key>uinfo_sp_sharebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,4},{918,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,730}}</string>
                <key>sourceSize</key>
                <string>{918,730}</string>
            </dict>
            <key>uinfo_sp_sharetips.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1274},{448,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{448,32}}</string>
                <key>sourceSize</key>
                <string>{450,34}</string>
            </dict>
            <key>uinfo_sp_spreadtips.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1684},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9401b7a7f8a0d8bdd39d875e77c6499$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
