<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pri_btn_clear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,292},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_clear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,147},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_del_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_del_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,995},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1736},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1736},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1544},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1544},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1352},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1352},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1504},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_num_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,995},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,929},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,863},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,797},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,731},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,665},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,520},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,520},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1007},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1883},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1817},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1883},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1817},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1928},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1191},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_sharegrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1160},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_sharegrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1160},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_switchrecord_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1955},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_btn_switchrecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,417},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>pri_sp_createcost.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_createtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,314},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_createuser.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1817},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_dissolvetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,211},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_friend_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{148,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,246}}</string>
                <key>sourceSize</key>
                <string>{148,248}</string>
            </dict>
            <key>pri_sp_friend_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,250},{158,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,268}}</string>
                <key>sourceSize</key>
                <string>{158,268}</string>
            </dict>
            <key>pri_sp_ideditbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,470},{535,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,445}}</string>
                <key>sourceSize</key>
                <string>{535,445}</string>
            </dict>
            <key>pri_sp_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1192,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1192,374}}</string>
                <key>sourceSize</key>
                <string>{1192,374}</string>
            </dict>
            <key>pri_sp_listline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1156,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1156,2}}</string>
                <key>sourceSize</key>
                <string>{1156,2}</string>
            </dict>
            <key>pri_sp_roomid.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1922},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>pri_sp_roominfotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1994},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>pri_sp_roomlimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,107},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>pri_sp_roomstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1817},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_systemtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1817},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>pri_sp_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{757,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,449}}</string>
                <key>sourceSize</key>
                <string>{757,449}</string>
            </dict>
            <key>pri_sp_uinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1160},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7e2a955fed1d3e8fa3aed41df00f81$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
