<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,510},{68,86}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,97},{68,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{122,132}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,67},{122,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,298}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{230,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{246,296}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{246,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{236,286}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,14},{236,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,590},{244,210}}</string>
                <key>offset</key>
                <string>{24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,86},{244,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,248},{188,238}}</string>
                <key>offset</key>
                <string>{53,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,40},{188,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,850},{168,174}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,48},{168,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,216},{208,178}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{208,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{224,208}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{224,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{230,244}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{230,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,290},{216,268}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{216,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,290},{256,266}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{256,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,600},{246,280}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{246,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{236,286}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{236,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,410},{32,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{32,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,478},{32,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{32,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,558},{32,108}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{32,108}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,558},{32,108}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{32,108}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,815},{32,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{32,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,560},{34,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{34,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,815},{32,104}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{32,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,815},{32,106}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{32,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,444},{32,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{32,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bullet_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,396},{30,108}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{30,108}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>copper_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,941},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,534},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,973},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,560},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,260},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1006},{56,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{56,15}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,581},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,534},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,969},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,882},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>fort_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,510},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{66,78}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,488},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{66,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,488},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{66,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,488},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{66,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,552},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{66,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,510},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{66,78}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fort_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,428},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{106,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fort_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,849},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fort_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,849},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fort_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,882},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fort_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,882},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fort_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,428},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{106,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fortlight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,279},{154,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{154,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fortlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{158,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{158,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fortlight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,850},{164,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{164,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fortlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,857},{164,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{164,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gold_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,410},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,510},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,533},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,479},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,260},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,260},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,560},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,537},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,468},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,510},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,260},{256,78}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,102},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,518},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,468},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,86},{82,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,592},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,599},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,579},{234,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{234,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,240},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{226,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,512},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,79},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,396},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,72},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,888},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,849},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{146,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,228},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{212,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{236,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{236,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,258},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>silver_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,508},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,526},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,969},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,558},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,857},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,260},{60,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{60,17}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,558},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,973},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,508},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,594},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a948af1571fc9363c333a5f5047244c3:1/1$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
