<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet1_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,286},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,281},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,281},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,305},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,295},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,140},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>Bullet1_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>Bullet2_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,328},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,303},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,303},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,283},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,278},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,278},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,236},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Bullet2_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,200},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Bullet3_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,250},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,270},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,245},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,245},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,272},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,190},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>Bullet3_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,168},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>gold_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,162},{78,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,88},{78,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,82},{78,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,88},{78,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,160},{78,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{78,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,162},{78,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{78,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,84},{78,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,150},{78,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gun_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,84},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{78,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gun_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{72,88}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gun_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,76},{80,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{80,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gun_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,84}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gun_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{86,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gun_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>silver_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{48,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,225},{48,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,242},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,164},{48,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{48,8}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,269},{48,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,194},{48,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,200},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,236},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,164},{48,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{48,8}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,244},{48,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_guns_coins.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0174dec39d699d22efca1e2ff116d194$</string>
            <key>textureFileName</key>
            <string>bullet_guns_coins.png</string>
        </dict>
    </dict>
</plist>
