<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,336},{22,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,63}}</string>
                <key>sourceSize</key>
                <string>{22,63}</string>
            </dict>
            <key>fishDead_001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,741},{22,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,63}}</string>
                <key>sourceSize</key>
                <string>{22,63}</string>
            </dict>
            <key>fishDead_002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1879},{24,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>fishDead_002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,772},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>fishDead_003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1134},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>fishDead_003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1045},{38,54}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>fishDead_004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,150},{47,82}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,82}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>fishDead_004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,653},{49,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{49,86}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>fishDead_004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,150},{49,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{49,78}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>fishDead_005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1941},{38,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,104}}</string>
                <key>sourceSize</key>
                <string>{42,104}</string>
            </dict>
            <key>fishDead_005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1941},{42,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,104}</string>
            </dict>
            <key>fishDead_005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,657},{42,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{42,104}</string>
            </dict>
            <key>fishDead_006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,677},{64,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>fishDead_006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,137},{52,72}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>fishDead_006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,677},{60,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>fishDead_007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1941},{42,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,97}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1141},{44,95}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,95}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1141},{44,91}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,91}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_007_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,677},{46,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,93}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_007_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1941},{46,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,95}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1141},{42,95}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,95}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>fishDead_008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1941},{57,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,100}}</string>
                <key>sourceSize</key>
                <string>{57,106}</string>
            </dict>
            <key>fishDead_008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1938},{57,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,106}}</string>
                <key>sourceSize</key>
                <string>{57,106}</string>
            </dict>
            <key>fishDead_008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,657},{53,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,106}}</string>
                <key>sourceSize</key>
                <string>{57,106}</string>
            </dict>
            <key>fishDead_009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,649},{70,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{70,116}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>fishDead_009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,529},{50,122}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{50,122}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>fishDead_010_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1938},{86,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,108}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,649},{72,80}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{72,80}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,651},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{82,84}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,898},{78,82}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{78,82}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,651},{82,74}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{82,74}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,898},{82,80}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,27},{82,80}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1045},{142,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>fishDead_011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{144,146}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>fishDead_011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,360},{154,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{154,150}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>fishDead_011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,206},{160,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>fishDead_012_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,529},{120,116}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>fishDead_012_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1414},{126,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>fishDead_012_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1418},{126,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>fishDead_013_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1007},{67,175}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,175}}</string>
                <key>sourceSize</key>
                <string>{73,175}</string>
            </dict>
            <key>fishDead_013_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,206},{63,163}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,163}}</string>
                <key>sourceSize</key>
                <string>{73,175}</string>
            </dict>
            <key>fishDead_013_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,201},{63,157}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,157}}</string>
                <key>sourceSize</key>
                <string>{73,175}</string>
            </dict>
            <key>fishDead_014_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{81,202}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{81,202}}</string>
                <key>sourceSize</key>
                <string>{91,228}</string>
            </dict>
            <key>fishDead_014_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1180},{65,226}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{65,226}}</string>
                <key>sourceSize</key>
                <string>{91,228}</string>
            </dict>
            <key>fishDead_014_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1542},{81,222}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{81,222}}</string>
                <key>sourceSize</key>
                <string>{91,228}</string>
            </dict>
            <key>fishDead_015_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{197,150}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,150}}</string>
                <key>sourceSize</key>
                <string>{201,168}</string>
            </dict>
            <key>fishDead_015_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1879},{199,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,164}}</string>
                <key>sourceSize</key>
                <string>{201,168}</string>
            </dict>
            <key>fishDead_015_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1879},{199,166}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,166}}</string>
                <key>sourceSize</key>
                <string>{201,168}</string>
            </dict>
            <key>fishDead_016_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1541},{115,216}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,216}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_016_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1180},{111,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{111,232}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_016_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1766},{111,220}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{111,220}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_017_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1931},{115,226}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,226}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_017_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,765},{111,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,240}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_017_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1184},{111,232}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,232}}</string>
                <key>sourceSize</key>
                <string>{115,240}</string>
            </dict>
            <key>fishDead_018_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{189,397}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{189,397}}</string>
                <key>sourceSize</key>
                <string>{243,409}</string>
            </dict>
            <key>fishDead_018_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,403}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{169,403}}</string>
                <key>sourceSize</key>
                <string>{243,409}</string>
            </dict>
            <key>fishDead_018_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{191,389}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{191,389}}</string>
                <key>sourceSize</key>
                <string>{243,409}</string>
            </dict>
            <key>fishDead_019_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1559},{112,370}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{112,370}}</string>
                <key>sourceSize</key>
                <string>{142,384}</string>
            </dict>
            <key>fishDead_019_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1187},{114,370}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,370}}</string>
                <key>sourceSize</key>
                <string>{142,384}</string>
            </dict>
            <key>fishDead_019_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1187},{114,366}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{114,366}}</string>
                <key>sourceSize</key>
                <string>{142,384}</string>
            </dict>
            <key>fishDead_019_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1564},{110,372}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{110,372}}</string>
                <key>sourceSize</key>
                <string>{142,384}</string>
            </dict>
            <key>fishDead_020_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1555},{216,356}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{216,356}}</string>
                <key>sourceSize</key>
                <string>{240,374}</string>
            </dict>
            <key>fishDead_020_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1543},{224,334}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{224,334}}</string>
                <key>sourceSize</key>
                <string>{240,374}</string>
            </dict>
            <key>fishDead_020_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1185},{208,356}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{208,356}}</string>
                <key>sourceSize</key>
                <string>{240,374}</string>
            </dict>
            <key>fishDead_021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{222,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{222,375}}</string>
                <key>sourceSize</key>
                <string>{240,375}</string>
            </dict>
            <key>fishDead_021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{240,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,375}}</string>
                <key>sourceSize</key>
                <string>{240,375}</string>
            </dict>
            <key>fishDead_021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{228,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{228,375}}</string>
                <key>sourceSize</key>
                <string>{240,375}</string>
            </dict>
            <key>fishDead_022_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,393},{231,377}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{231,377}}</string>
                <key>sourceSize</key>
                <string>{245,383}</string>
            </dict>
            <key>fishDead_022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,772},{245,367}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{245,367}}</string>
                <key>sourceSize</key>
                <string>{245,383}</string>
            </dict>
            <key>fishDead_022_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{237,379}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{237,379}}</string>
                <key>sourceSize</key>
                <string>{245,383}</string>
            </dict>
            <key>fishDead_024_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,767},{140,276}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{140,276}}</string>
                <key>sourceSize</key>
                <string>{154,308}</string>
            </dict>
            <key>fishDead_024_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,379},{134,296}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{134,296}}</string>
                <key>sourceSize</key>
                <string>{154,308}</string>
            </dict>
            <key>fishDead_024_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,379},{130,276}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,276}}</string>
                <key>sourceSize</key>
                <string>{154,308}</string>
            </dict>
            <key>fishDead_026_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,721},{130,131}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1913},{130,133}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{130,133}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,368},{144,159}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{144,159}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1007},{182,171}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{182,171}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{128,133}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{128,133}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1001},{128,131}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{128,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,201},{128,133}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{128,133}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,868},{130,131}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,735},{130,131}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,516},{130,131}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,765},{130,131}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
            <key>fishDead_026_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1408},{130,131}}</string>
                <key>offset</key>
                <string>{-26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{130,131}}</string>
                <key>sourceSize</key>
                <string>{182,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f2a6da3336b917f9a446dfad244120$</string>
            <key>textureFileName</key>
            <string>fish_dead.png</string>
        </dict>
    </dict>
</plist>
