<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fishMove_019_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,380},{108,372}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{108,372}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{102,376}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,3},{102,376}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1508},{102,372}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{102,372}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{104,376}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{104,376}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,2},{104,372}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{104,372}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1134},{102,372}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{102,372}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,758},{108,374}}</string>
			<key>offset</key>
			<string>{-6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,3},{108,374}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1134},{110,366}}</string>
			<key>offset</key>
			<string>{-7,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{110,366}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_019_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,2},{104,372}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{104,372}}</string>
			<key>sourceSize</key>
			<string>{142,384}</string>
		</dict>
		<key>fishMove_020_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,706},{228,326}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{228,326}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1633},{230,314}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,30},{230,314}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1231,2},{228,316}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,35},{228,316}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,987},{226,322}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,29},{226,322}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,2},{226,324}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,27},{226,324}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,657},{208,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{208,322}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,2},{206,328}}</string>
			<key>offset</key>
			<string>{11,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,23},{206,328}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,328},{206,322}}</string>
			<key>offset</key>
			<string>{10,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,29},{206,322}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,376},{216,328}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,23},{216,328}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_020_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1081,325},{226,318}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,33},{226,318}}</string>
			<key>sourceSize</key>
			<string>{240,376}</string>
		</dict>
		<key>fishMove_021_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,1303},{224,314}}</string>
			<key>offset</key>
			<string>{8,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,12},{224,314}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,652},{228,318}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{228,318}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,1034},{226,326}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{226,326}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,1362},{224,324}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,2},{224,324}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,1423},{226,326}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{226,326}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,1095},{228,326}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{228,326}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,2},{226,326}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,326}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,332},{226,326}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,326}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,981},{224,320}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{224,320}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_021_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,1311},{226,320}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{226,320}}</string>
			<key>sourceSize</key>
			<string>{240,326}</string>
		</dict>
		<key>fishMove_022_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,330},{209,325}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{209,325}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1502},{219,327}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,14},{219,327}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,2},{245,321}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{245,321}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,754},{233,339}}</string>
			<key>offset</key>
			<string>{-6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,339}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,1688},{231,323}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{231,323}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,660},{217,325}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{217,325}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_022_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,1831},{209,327}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,8},{209,327}}</string>
			<key>sourceSize</key>
			<string>{245,343}</string>
		</dict>
		<key>fishMove_023_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1246,1081},{125,153}}</string>
			<key>offset</key>
			<string>{4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{125,153}}</string>
			<key>sourceSize</key>
			<string>{133,165}</string>
		</dict>
		<key>fishMove_024_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1235,1496},{114,255}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,255}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236,645},{106,265}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{106,265}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,972},{114,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,265}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,1619},{110,263}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{110,263}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1235,1239},{114,255}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{114,255}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1309,320},{114,263}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{114,263}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,1612},{114,253}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,253}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1751},{114,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,265}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,1619},{114,255}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{114,255}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_024_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1398,1612},{112,253}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{112,253}}</string>
			<key>sourceSize</key>
			<string>{114,265}</string>
		</dict>
		<key>fishMove_025_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1373,1081},{140,157}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,9},{140,157}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,1236},{140,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,167}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,1884},{140,157}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{140,157}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1882},{140,157}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{140,157}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1246,912},{140,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,167}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1480,1867},{140,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,167}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1338,1867},{140,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,167}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_025_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1196,1876},{140,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,167}}</string>
			<key>sourceSize</key>
			<string>{140,169}</string>
		</dict>
		<key>fishMove_026_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1512,1675},{130,133}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{130,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,1358},{130,133}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1512,1540},{130,133}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1493,1223},{130,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{130,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1622,1810},{128,133}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{128,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1625,2},{128,131}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{128,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1756,134},{130,131}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,134},{130,131}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1492,1405},{130,133}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{130,133}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,2},{130,131}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1889,2},{130,131}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
		<key>fishMove_026_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1756,2},{130,131}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,131}}</string>
			<key>sourceSize</key>
			<string>{130,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fishMove2.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f8b29540fc7276917dfa847a1de1723a$</string>
		<key>textureFileName</key>
		<string>fish_move2.png</string>
	</dict>
</dict>
</plist>
