<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1bigchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,659},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>1chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1484},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>2bigchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,567},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>2chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1285},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>3bigchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1834},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>3chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2006},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>BT_start_0.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{205,207},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{203,92}</string>
            </dict>
            <key>BT_start_1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{205,412},{203,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{203,90}}</string>
                <key>sourceSize</key>
                <string>{203,92}</string>
            </dict>
            <key>add_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{185,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,36}}</string>
                <key>sourceSize</key>
                <string>{185,36}</string>
            </dict>
            <key>chatBg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,941},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>chatBg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1122},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>game_ person.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2006},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>game_addScore_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_bt_addscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1320},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_bt_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1937},{199,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,100}}</string>
                <key>sourceSize</key>
                <string>{199,100}</string>
            </dict>
            <key>game_bt_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1740},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_bt_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1535},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_bt_noAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1330},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_bt_showhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1191},{203,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>game_icon_changetable.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1285},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>game_icon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>game_icon_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1680},{143,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{143,41}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>game_icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1834},{145,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,43}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>
            </dict>
            <key>game_max_add_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{1003,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1003,80}}</string>
                <key>sourceSize</key>
                <string>{1003,80}</string>
            </dict>
            <key>game_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2006},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>menu_backGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1007},{182,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,250}}</string>
                <key>sourceSize</key>
                <string>{182,250}</string>
            </dict>
            <key>menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,751},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>operateBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,119}}</string>
                <key>sourceSize</key>
                <string>{1334,119}</string>
            </dict>
            <key>player_B_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,412},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>player_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1320},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>player_S_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,995},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>player_S_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,934},{147,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,59}}</string>
                <key>sourceSize</key>
                <string>{147,59}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1680},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,792},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>slideBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1898},{396,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,37}}</string>
                <key>sourceSize</key>
                <string>{396,37}</string>
            </dict>
            <key>slideNodeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{558,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,249}}</string>
                <key>sourceSize</key>
                <string>{558,249}</string>
            </dict>
            <key>timeProBar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,792},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>timeProBar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1191},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>timeProBar_B_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,617},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>timeProBar_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1525},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>time_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1937},{67,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,307}}</string>
                <key>sourceSize</key>
                <string>{67,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLayer.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ffd1c1d35143d7369a9213bc3dc4eb3$</string>
            <key>textureFileName</key>
            <string>GameLayer.png</string>
        </dict>
    </dict>
</plist>
