<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_bridge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,639},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_bridge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,635},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_bump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,169},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_bump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,616},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,924},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,924},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,385},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,201},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_eat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,911},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_eat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,794},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,837},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>bt_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,749},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>bt_howPlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,778},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_howPlay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,936},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_listen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,499},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_listen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,529},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_pass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,382},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_pass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,826},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_recodeShow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,721},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_recodeShow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,647},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,382},{133,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,51}}</string>
                <key>sourceSize</key>
                <string>{133,51}</string>
            </dict>
            <key>bt_send_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{133,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,51}}</string>
                <key>sourceSize</key>
                <string>{133,51}</string>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,936},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_soundOff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,936},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,647},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>bt_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,382},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>bt_trusteeCancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,573},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_trusteeCancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,127},{221,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,72}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>bt_trustee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,726},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>bt_trustee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,734},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>bt_voice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,201},{77,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{77,120}}</string>
                <key>sourceSize</key>
                <string>{135,182}</string>
            </dict>
            <key>bt_voice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,286},{135,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,182}}</string>
                <key>sourceSize</key>
                <string>{135,182}</string>
            </dict>
            <key>bt_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,826},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>bt_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,275},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>sp_ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,179},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>sp_IP.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,752},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>sp_announcement.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,137},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>sp_announcementBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{656,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{656,50}}</string>
                <key>sourceSize</key>
                <string>{656,52}</string>
            </dict>
            <key>sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,866},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,39}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>sp_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,768},{214,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>sp_bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,803},{214,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>sp_chooseFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,691},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>sp_clock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{196,157}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,157}}</string>
                <key>sourceSize</key>
                <string>{196,199}</string>
            </dict>
            <key>sp_clock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{158,195}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,195}}</string>
                <key>sourceSize</key>
                <string>{196,199}</string>
            </dict>
            <key>sp_clock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{196,159}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{196,159}}</string>
                <key>sourceSize</key>
                <string>{196,199}</string>
            </dict>
            <key>sp_clock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{156,195}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{156,195}}</string>
                <key>sourceSize</key>
                <string>{196,199}</string>
            </dict>
            <key>sp_fangPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,573},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>sp_flag_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,424},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_flag_bump.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,275},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_flag_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,424},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_flag_listen.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,619},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_flag_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,470},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_flag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,275},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>sp_gameBtn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{813,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{813,123}}</string>
                <key>sourceSize</key>
                <string>{813,123}</string>
            </dict>
            <key>sp_gender.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,984},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>sp_headBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,280},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>sp_headCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,280},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>sp_headCover_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,822},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>sp_inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,795},{197,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,29}}</string>
                <key>sourceSize</key>
                <string>{197,29}</string>
            </dict>
            <key>sp_listenBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{328,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,105}}</string>
                <key>sourceSize</key>
                <string>{328,105}</string>
            </dict>
            <key>sp_listenBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1021},{1,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,73}}</string>
                <key>sourceSize</key>
                <string>{1,73}</string>
            </dict>
            <key>sp_listenBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,385},{210,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,73}}</string>
                <key>sourceSize</key>
                <string>{210,73}</string>
            </dict>
            <key>sp_listenNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,190},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>sp_listenTimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,169},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>sp_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,279},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>sp_roomHost.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,127},{40,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{40,76}</string>
            </dict>
            <key>sp_roomInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,179},{208,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{208,94}}</string>
                <key>sourceSize</key>
                <string>{208,96}</string>
            </dict>
            <key>sp_scoreFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,639},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>sp_sparrowPlate.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{123,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,148}}</string>
                <key>sourceSize</key>
                <string>{123,148}</string>
            </dict>
            <key>sp_trustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,768},{31,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,33}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>sp_ziMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,639},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80d988a4aed78fa197abbf54a6532a5b$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
