<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet1_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,271},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,271},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,254},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,268},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,238},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,255},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet1_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,164},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>Bullet1_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>Bullet2_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,311},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,300},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,300},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,270},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,270},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,292},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>Bullet2_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Bullet2_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,216},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Bullet3_Normal_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,238},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,253},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,220},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,201},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Normal_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,164},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bullet3_Specialt_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,166},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>Bullet3_Specialt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,184},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>gold_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,76},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>gold_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,128},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>gold_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,76},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>gold_coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,152},{78,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,12}</string>
            </dict>
            <key>gold_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,180},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>gold_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,84},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>gold_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>gold_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,76},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>gold_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,150},{78,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,12}</string>
            </dict>
            <key>gold_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,144},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>gun_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>gun_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>gun_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>gun_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,76},{84,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>gun_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>gun_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>silver_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>silver_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>silver_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,309},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>silver_coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,220},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,138},{48,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,8}}</string>
                <key>sourceSize</key>
                <string>{48,8}</string>
            </dict>
            <key>silver_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,212},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>silver_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,261},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>silver_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,218},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>silver_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,261},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>silver_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>silver_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,88},{48,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,8}}</string>
                <key>sourceSize</key>
                <string>{48,8}</string>
            </dict>
            <key>silver_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,162},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_guns_coins.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0518798bde8bf44889af2333cdf9f2e7$</string>
            <key>textureFileName</key>
            <string>bullet_guns_coins.png</string>
        </dict>
    </dict>
</plist>
