<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1034},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,298}}</string>
                <key>sourceSize</key>
                <string>{230,298}</string>
            </dict>
            <key>bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{246,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,296}}</string>
                <key>sourceSize</key>
                <string>{246,296}</string>
            </dict>
            <key>bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{236,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,286}}</string>
                <key>sourceSize</key>
                <string>{236,286}</string>
            </dict>
            <key>bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1004},{244,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,210}}</string>
                <key>sourceSize</key>
                <string>{244,210}</string>
            </dict>
            <key>bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1214},{188,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,238}}</string>
                <key>sourceSize</key>
                <string>{188,238}</string>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,808},{168,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,174}}</string>
                <key>sourceSize</key>
                <string>{168,174}</string>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1820},{208,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,178}}</string>
                <key>sourceSize</key>
                <string>{208,178}</string>
            </dict>
            <key>bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{224,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,208}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{230,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,244}}</string>
                <key>sourceSize</key>
                <string>{230,244}</string>
            </dict>
            <key>bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,250},{216,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,268}}</string>
                <key>sourceSize</key>
                <string>{216,268}</string>
            </dict>
            <key>bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,468},{256,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,266}}</string>
                <key>sourceSize</key>
                <string>{256,266}</string>
            </dict>
            <key>bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,240},{246,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,280}}</string>
                <key>sourceSize</key>
                <string>{246,280}</string>
            </dict>
            <key>bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{236,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,286}}</string>
                <key>sourceSize</key>
                <string>{236,286}</string>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1630},{32,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,104}}</string>
                <key>sourceSize</key>
                <string>{32,104}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1630},{32,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,100}}</string>
                <key>sourceSize</key>
                <string>{32,100}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,717},{32,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,108}}</string>
                <key>sourceSize</key>
                <string>{32,108}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,607},{32,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,108}}</string>
                <key>sourceSize</key>
                <string>{32,108}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1324},{32,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,106}}</string>
                <key>sourceSize</key>
                <string>{32,106}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,377},{34,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,104}}</string>
                <key>sourceSize</key>
                <string>{34,104}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1432},{32,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,104}}</string>
                <key>sourceSize</key>
                <string>{32,104}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1216},{32,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,106}}</string>
                <key>sourceSize</key>
                <string>{32,106}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1630},{32,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,102}}</string>
                <key>sourceSize</key>
                <string>{32,102}</string>
            </dict>
            <key>bullet_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1924},{30,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,108}}</string>
                <key>sourceSize</key>
                <string>{30,108}</string>
            </dict>
            <key>copper_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,492},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>copper_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1923},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>copper_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1390},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>copper_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,319},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>copper_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,541},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>copper_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,252},{56,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,15}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>copper_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1981},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>copper_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1981},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>copper_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1510},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>copper_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,492},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>fort_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,966},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>fort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1328},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>fort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1260},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>fort_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1396},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>fort_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1538},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>fort_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,966},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>fort_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1924},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>fort_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1510},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>fort_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1390},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>fort_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,372},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>fort_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,252},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>fort_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1924},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>fortlight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,726},{154,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,256}}</string>
                <key>sourceSize</key>
                <string>{154,256}</string>
            </dict>
            <key>fortlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{158,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,256}}</string>
                <key>sourceSize</key>
                <string>{158,256}</string>
            </dict>
            <key>fortlight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,984},{164,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,256}}</string>
                <key>sourceSize</key>
                <string>{164,256}</string>
            </dict>
            <key>fortlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,550},{164,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,256}}</string>
                <key>sourceSize</key>
                <string>{164,256}</string>
            </dict>
            <key>gold_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1736},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1191},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>gold_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1464},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>gold_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1732},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>gold_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,472},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>gold_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,599},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>gold_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,250},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,37}</string>
            </dict>
            <key>gold_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,827},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>gold_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1464},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>gold_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1122},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,882},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,896},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1538},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,746},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,488},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,252}}</string>
                <key>sourceSize</key>
                <string>{254,252}</string>
            </dict>
            <key>light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1216},{234,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,232}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1404},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1630},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1810},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,126},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1242},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1628},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{236,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,234}}</string>
                <key>sourceSize</key>
                <string>{236,234}</string>
            </dict>
            <key>light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,962},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>silver_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1801},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>silver_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1730},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>silver_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1568},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>silver_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,483},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>silver_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,488},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,23}</string>
            </dict>
            <key>silver_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,668},{60,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,17}}</string>
                <key>sourceSize</key>
                <string>{60,17}</string>
            </dict>
            <key>silver_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,545},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>silver_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1448},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>silver_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1864},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>silver_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1450},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ffd19352b5f91049a5dee9133bf1601$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
