<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{165,165}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,120},{165,165}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1584},{175,203}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,107},{175,203}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{261,315}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{261,315}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,379},{359,365}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{359,365}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{375,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{375,375}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{375,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{375,375}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{375,375}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,319},{341,257}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,75},{341,257}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,662},{283,269}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,67},{283,269}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,947},{289,287}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{289,287}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,740},{295,305}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,51},{295,305}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1236},{223,225}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,91},{223,225}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{223,233}}</string>
                <key>offset</key>
                <string>{-23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,88},{223,233}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1037},{241,243}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,81},{241,243}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{241,245}}</string>
                <key>offset</key>
                <string>{-23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,82},{241,245}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{241,257}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,76},{241,257}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1461},{177,209}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,72},{177,209}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1459},{181,211}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,70},{181,211}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{181,213}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{181,213}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1280},{177,215}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,63},{177,215}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1413},{171,169}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,56},{171,169}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1236},{175,171}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,54},{175,171}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1817},{181,175}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,50},{181,175}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1640},{181,175}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,50},{181,175}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1184},{183,125}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,100},{183,125}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,999},{183,125}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,100},{183,125}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1369},{181,125}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{181,125}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>allin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,740},{93,51}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,174},{93,51}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>showHand.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a746bf0ba3c91527c0fd967b5e512011$</string>
            <key>textureFileName</key>
            <string>showHand.png</string>
        </dict>
    </dict>
</plist>
