<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{620,215},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,72}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{373,683},{135,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{410,537},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{135,76}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{357,757},{135,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{494,777},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{554,777},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,64}</string>
                <key>spriteSourceSize</key>
                <string>{145,64}</string>
                <key>textureRect</key>
                <string>{{410,617},{145,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,64}</string>
                <key>spriteSourceSize</key>
                <string>{145,64}</string>
                <key>textureRect</key>
                <string>{{557,537},{145,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_exit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{784,213},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{605,684},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{226,677},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{135,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,77}</string>
                <key>textureRect</key>
                <string>{{620,295},{135,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{210,757},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,72}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{623,531},{135,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_soundOff_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{768,359},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{790,642},{89,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_sound_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{510,684},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_sound_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{697,644},{89,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,68}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{226,537},{182,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,68}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{226,607},{182,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{768,454},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{790,549},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_takeBack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{697,549},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_takeBack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{694,733},{89,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{781,212}</string>
                <key>spriteSourceSize</key>
                <string>{781,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{781,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,52}</string>
                <key>textureRect</key>
                <string>{{608,477},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,227}</string>
                <key>spriteSourceSize</key>
                <string>{187,227}</string>
                <key>textureRect</key>
                <string>{{1,318},{187,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,77}</string>
                <key>spriteSourceSize</key>
                <string>{207,77}</string>
                <key>textureRect</key>
                <string>{{1,547},{207,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{190,318},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,78}</string>
                <key>spriteSourceSize</key>
                <string>{210,78}</string>
                <key>textureRect</key>
                <string>{{784,1},{210,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{80,547},{207,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{190,391},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{399,318},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{190,464},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{399,391},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{399,464},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{153,547},{207,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{1,756},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,101}</string>
                <key>spriteSourceSize</key>
                <string>{643,101}</string>
                <key>textureRect</key>
                <string>{{1,215},{617,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{108,105}</string>
                <key>textureRect</key>
                <string>{{608,370},{106,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{716,370},{97,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,51}</string>
                <key>spriteSourceSize</key>
                <string>{97,51}</string>
                <key>textureRect</key>
                <string>{{757,306},{97,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_oxex_res.png</string>
            <key>size</key>
            <string>{878,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ee001d29a0f3c8a1e7181d5b592a26:1ccfc32b695781aa1bc53b2d3182fb81:23a10d406cc39b82ac594478bb048153$</string>
            <key>textureFileName</key>
            <string>game_oxex_res.png</string>
        </dict>
    </dict>
</plist>
