<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{218,216},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,132},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{40,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,378},{38,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{224,170},{38,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,48},{40,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,444},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{326,402},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,384},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{288,452},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,340},{42,42}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,146},{42,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,360},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,344},{40,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(23).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,410},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(24).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,318},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(25).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,368},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(26).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,128},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(27).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,422},{42,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(28).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,390},{40,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(29).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,276},{40,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(30).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,100},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(31).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,326},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(32).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(33).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,390},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(34).png</key>
            <dict>
                <key>frame</key>
                <string>{{176,234},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(35).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,284},{40,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(36).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,50},{42,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(37).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{42,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(38).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(39).png</key>
            <dict>
                <key>frame</key>
                <string>{{36,152},{42,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,462},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(40).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,86},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(41).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(42).png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(43).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,44},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(44).png</key>
            <dict>
                <key>frame</key>
                <string>{{242,420},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(45).png</key>
            <dict>
                <key>frame</key>
                <string>{{300,204},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(46).png</key>
            <dict>
                <key>frame</key>
                <string>{{204,466},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(47).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,290},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(48).png</key>
            <dict>
                <key>frame</key>
                <string>{{84,436},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(49).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,52},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(50).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(51).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,124},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(52).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,84},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(53).png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(54).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,300},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(55).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,436},{44,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(56).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,196},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(57).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{42,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(58).png</key>
            <dict>
                <key>frame</key>
                <string>{{214,44},{38,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(59).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,240},{42,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,252},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(60).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(61).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,250},{44,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(62).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,378},{40,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(63).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,482},{26,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(64).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,428},{40,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(65).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(66).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(67).png</key>
            <dict>
                <key>frame</key>
                <string>{{48,296},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(68).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{40,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(69).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{26,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,334},{38,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(70).png</key>
            <dict>
                <key>frame</key>
                <string>{{172,334},{42,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(71).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,436},{38,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(72).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,212},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(73).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,246},{42,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(74).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,102},{40,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(75).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(76).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(77).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(78).png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(79).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,296},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,472},{42,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brow.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7925a9ade5c3604ced28d46a3ea9c35d$</string>
            <key>textureFileName</key>
            <string>brow.png</string>
        </dict>
    </dict>
</plist>
