<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,114},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_qiut.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,193},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>bt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,129},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>im_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{737,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{737,628}}</string>
                <key>sourceSize</key>
                <string>{737,628}</string>
            </dict>
            <key>im_invite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,257},{450,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,131}}</string>
                <key>sourceSize</key>
                <string>{450,131}</string>
            </dict>
            <key>im_pr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{243,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,125}}</string>
                <key>sourceSize</key>
                <string>{243,125}</string>
            </dict>
            <key>im_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,253},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>im_score_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,129},{553,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,57}}</string>
                <key>sourceSize</key>
                <string>{553,57}</string>
            </dict>
            <key>pri_land_zanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,25},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>txt_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,203},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>txt_count_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,276},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>txt_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,302},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>txt_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,257},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60547e1cf4d63b607f463f22c40b1af9$</string>
            <key>textureFileName</key>
            <string>land_game.png</string>
        </dict>
    </dict>
</plist>
