<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1366},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{947,488}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{947,488}}</string>
                <key>sourceSize</key>
                <string>{953,494}</string>
            </dict>
            <key>bt_opencard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1275},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_opencard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1275},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1229},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1167},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_sdcp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1202},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_sdcp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1202},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_tips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1156},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1129},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_zdcp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1129},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_zdcp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1083},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,588},{372,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,51}}</string>
                <key>sourceSize</key>
                <string>{372,51}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,495},{549,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,360}}</string>
                <key>sourceSize</key>
                <string>{549,360}</string>
            </dict>
            <key>chat_brow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1280},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>chat_brow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1225},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,495},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,859},{532,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,220}}</string>
                <key>sourceSize</key>
                <string>{532,220}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1225},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1240},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1167},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1222},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1167},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,54}}</string>
                <key>sourceSize</key>
                <string>{137,54}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,495},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>double_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1373},{86,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,969},{482,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,194}}</string>
                <key>sourceSize</key>
                <string>{482,194}</string>
            </dict>
            <key>game_chat_0.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1083},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>game_chat_1.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1083},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,495},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,643},{338,322}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{338,322}}</string>
                <key>sourceSize</key>
                <string>{364,338}</string>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,495},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>laba_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,538},{446,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,46}}</string>
                <key>sourceSize</key>
                <string>{446,46}</string>
            </dict>
            <key>no_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1283},{86,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,746},{121,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{121,170}</string>
            </dict>
            <key>player_gender_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,920},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_gender_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,643},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>player_winning.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>roomlist_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1283},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,3},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>sp_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,640},{87,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>sp_five_f_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1302},{125,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,48}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>sp_five_s_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1298},{125,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,48}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>sp_four_f_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,694},{123,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,48}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>tanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,588},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>tips_wait_opencard.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,74},{460,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,56}}</string>
                <key>sourceSize</key>
                <string>{460,56}</string>
            </dict>
            <key>xgmm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,74},{5,334}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{5,334}}</string>
                <key>sourceSize</key>
                <string>{5,338}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,495},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa09a53b5b943437821ffc7cb80cd510$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
