<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,328},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,324},{232,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,79}}</string>
                <key>sourceSize</key>
                <string>{232,79}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,324},{232,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,79}}</string>
                <key>sourceSize</key>
                <string>{232,79}</string>
            </dict>
            <key>check_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>check_setting_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,286},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>game_bt_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1334},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1142},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1670},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1478},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1670},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1478},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1670},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_cellScoreIMG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,2},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,44}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>game_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,970},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,266},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1092},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,188},{76,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{336,320}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{336,320}}</string>
                <key>sourceSize</key>
                <string>{362,336}</string>
            </dict>
            <key>game_role11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1869},{145,177}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{145,177}}</string>
                <key>sourceSize</key>
                <string>{165,185}</string>
            </dict>
            <key>game_role12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1722},{139,185}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{165,185}</string>
            </dict>
            <key>game_role21.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1478},{242,213}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{242,213}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>game_role22.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1862},{132,187}}</string>
                <key>offset</key>
                <string>{-44,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{132,187}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>game_role31.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1722},{145,177}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{145,177}}</string>
                <key>sourceSize</key>
                <string>{165,185}</string>
            </dict>
            <key>game_role32.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1863},{135,185}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{165,185}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1478},{204,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,34}}</string>
                <key>sourceSize</key>
                <string>{206,34}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,405},{218,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{218,36}}</string>
                <key>sourceSize</key>
                <string>{230,42}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,110},{76,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>game_topMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,430},{660,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{660,108}}</string>
                <key>sourceSize</key>
                <string>{670,108}</string>
            </dict>
            <key>gameend_0_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{797,282}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{797,282}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_1_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{741,214}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,41},{741,214}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{857,266}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{857,266}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_3_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,286},{731,250}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,24},{731,250}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_again0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1478},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_again1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1670},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{694,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,506}}</string>
                <key>sourceSize</key>
                <string>{694,506}</string>
            </dict>
            <key>gameend_quit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1478},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1478},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>land_bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,451},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1876},{145,149}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{145,149}}</string>
                <key>sourceSize</key>
                <string>{261,189}</string>
            </dict>
            <key>role_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,270},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{727,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,482}}</string>
                <key>sourceSize</key>
                <string>{727,482}</string>
            </dict>
            <key>sp_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,438},{174,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,52}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>sp_setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1863},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{174,50}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,324},{100,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04962a6d69ea0929ad97723ff26f5e31$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
