<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>118_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,374}}</string>
                <key>sourceSize</key>
                <string>{612,374}</string>
            </dict>
            <key>118_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,170},{166,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,67}}</string>
                <key>sourceSize</key>
                <string>{166,67}</string>
            </dict>
            <key>118_set_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,110},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>118_set_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,66},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>118_set_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,34},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>118_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{166,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,67}}</string>
                <key>sourceSize</key>
                <string>{166,67}</string>
            </dict>
            <key>118_set_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>118_setLayer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6b40c77999a5c5eb8a89067036a9896$</string>
            <key>textureFileName</key>
            <string>118_setLayer.png</string>
        </dict>
    </dict>
</plist>
