<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>priland_btn_cardcharge_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,772},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>priland_btn_cardcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,729},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>priland_btn_createroom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>priland_btn_createroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{199,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>priland_btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,385},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>priland_btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,301},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>priland_btn_myroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,142},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>priland_check_dot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,469},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>priland_check_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,300},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>priland_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,699},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>priland_sp_card_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{295,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,31}}</string>
                <key>sourceSize</key>
                <string>{295,31}</string>
            </dict>
            <key>priland_sp_card_tips_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{339,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,31}}</string>
                <key>sourceSize</key>
                <string>{339,31}</string>
            </dict>
            <key>priland_sp_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,403},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>priland_sp_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,336},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>priland_sp_config.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,270},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>priland_sp_countbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,186},{115,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,51}}</string>
                <key>sourceSize</key>
                <string>{115,51}</string>
            </dict>
            <key>priland_sp_fee.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,186},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>priland_sp_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,239},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>priland_sp_limitsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{695,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{695,42}}</string>
                <key>sourceSize</key>
                <string>{697,44}</string>
            </dict>
            <key>priland_sp_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,443},{355,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,51}}</string>
                <key>sourceSize</key>
                <string>{355,51}</string>
            </dict>
            <key>priland_sp_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_room.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8a492e0838c71752410d89a096afff$</string>
            <key>textureFileName</key>
            <string>land_room.png</string>
        </dict>
    </dict>
</plist>
