<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_myfeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1928},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>btn_pick_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1769},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>btn_send_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1577},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>btn_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1385},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>sp_addpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1968},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>sp_addpic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1145},{238,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,212}}</string>
                <key>sourceSize</key>
                <string>{238,212}</string>
            </dict>
            <key>sp_cell_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{1141,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1141,297}}</string>
                <key>sourceSize</key>
                <string>{1141,297}</string>
            </dict>
            <key>sp_edit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{869,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,211}}</string>
                <key>sourceSize</key>
                <string>{869,211}</string>
            </dict>
            <key>sp_feedback_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1873},{189,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,53}}</string>
                <key>sourceSize</key>
                <string>{189,53}</string>
            </dict>
            <key>sp_item_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1144,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1144,64}}</string>
                <key>sourceSize</key>
                <string>{1144,64}</string>
            </dict>
            <key>sp_myfeed_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1965},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>sp_service_tel.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1928},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>sp_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{1109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1109,62}}</string>
                <key>sourceSize</key>
                <string>{1109,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feedback.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3215ca921ba85193b6b27a9f285ffac$</string>
            <key>textureFileName</key>
            <string>feedback.png</string>
        </dict>
    </dict>
</plist>
