<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>118_bankLayerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,444}}</string>
                <key>sourceSize</key>
                <string>{672,444}</string>
            </dict>
            <key>118_bank_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,191},{598,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,108}}</string>
                <key>sourceSize</key>
                <string>{598,108}</string>
            </dict>
            <key>118_bank_editText.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{293,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,51}}</string>
                <key>sourceSize</key>
                <string>{293,51}</string>
            </dict>
            <key>118_btn_freshen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,128},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>118_btn_freshen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,55},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>118_btn_out_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,109},{217,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,52}}</string>
                <key>sourceSize</key>
                <string>{217,52}</string>
            </dict>
            <key>118_btn_out_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,55},{217,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,52}}</string>
                <key>sourceSize</key>
                <string>{217,52}</string>
            </dict>
            <key>118_icon_bankPassWord.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,163},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>118_icon_bankScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{133,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,27}}</string>
                <key>sourceSize</key>
                <string>{133,27}</string>
            </dict>
            <key>118_icon_currentScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,137},{130,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,27}}</string>
                <key>sourceSize</key>
                <string>{130,27}</string>
            </dict>
            <key>118_icon_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,201},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>118_icon_outScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,163},{156,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,25}}</string>
                <key>sourceSize</key>
                <string>{156,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>118_bank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:645f8cbcefd79f36eaf8b281c930fdf0$</string>
            <key>textureFileName</key>
            <string>118_bank.png</string>
        </dict>
    </dict>
</plist>
