<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,663},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>sp_bottom_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,573},{422,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,69}}</string>
                <key>sourceSize</key>
                <string>{422,69}</string>
            </dict>
            <key>sp_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,573},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>sp_pointer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,854},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>sp_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,659},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_res_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,468},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_res_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,468},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,569}}</string>
                <key>sourceSize</key>
                <string>{570,569}</string>
            </dict>
            <key>sp_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{433,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,433}}</string>
                <key>sourceSize</key>
                <string>{433,433}</string>
            </dict>
            <key>sp_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,437},{349,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,29}}</string>
                <key>sourceSize</key>
                <string>{349,29}</string>
            </dict>
            <key>table_sp_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{433,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,433}}</string>
                <key>sourceSize</key>
                <string>{433,433}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4153849e35fe6116118440394d79860b$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
