<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,941},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bt_apply_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,924},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_apply_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,879},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_apply_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,817},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_apply_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,684},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bt_bank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,924},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{47,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1878},{57,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_cancel_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,817},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_cancel_apply_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1976},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_cancel_apply_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1662},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_cancel_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1514},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_cancel_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1446},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_cancel_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,708},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>bt_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,556},{35,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{35,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,383},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_ludan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,580},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{63,63}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bt_ludan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,423},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>bt_ludan_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1016},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>bt_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,170},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{83,83}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>bt_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1561},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>bt_qiut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,656},{41,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{41,51}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_qiut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,593},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_score_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1804},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1690},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1442},{123,117}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{123,117}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>bt_score_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1576},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1918},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1321},{123,119}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{123,119}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>bt_score_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1037},{114,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1097},{114,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1321},{125,119}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{125,119}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>bt_score_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1804},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1690},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1321},{123,119}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{123,119}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>bt_score_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1576},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,1255},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1321},{123,119}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{123,119}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>bt_score_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1255},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1170},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1146},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_score_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1061},{112,107}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{112,107}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>bt_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1918},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>bt_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,503},{51,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{51,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,645},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>bt_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1321},{128,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>bt_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{128,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>bt_superrob_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,339},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{82,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bt_superrob_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1453},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{98,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bt_superrob_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,255},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{82,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bt_userlist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,504},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bt_userlist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1279},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>im_apply_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,767},{507,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,596}}</string>
                <key>sourceSize</key>
                <string>{507,596}</string>
            </dict>
            <key>im_banker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{835,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,166}}</string>
                <key>sourceSize</key>
                <string>{835,166}</string>
            </dict>
            <key>im_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,162},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>im_clound.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,183},{188,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,100}}</string>
                <key>sourceSize</key>
                <string>{188,100}</string>
            </dict>
            <key>im_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,892},{203,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{203,108}}</string>
                <key>sourceSize</key>
                <string>{253,158}</string>
            </dict>
            <key>im_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,2},{253,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,158}}</string>
                <key>sourceSize</key>
                <string>{253,158}</string>
            </dict>
            <key>im_failed_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,162},{529,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,245}}</string>
                <key>sourceSize</key>
                <string>{529,245}</string>
            </dict>
            <key>im_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1056},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>im_jetton_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,285},{181,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,40}}</string>
                <key>sourceSize</key>
                <string>{181,40}</string>
            </dict>
            <key>im_jettonbt_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,580},{138,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,137}}</string>
                <key>sourceSize</key>
                <string>{138,137}</string>
            </dict>
            <key>im_ludan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,170},{747,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,400}}</string>
                <key>sourceSize</key>
                <string>{747,400}</string>
            </dict>
            <key>im_ludan_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1276},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>im_ludan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,973},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>im_ludan_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1276},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>im_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1576},{104,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,398}}</string>
                <key>sourceSize</key>
                <string>{104,398}</string>
            </dict>
            <key>im_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,572},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>im_player_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,383},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>im_point_failed_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1411},{236,101}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{236,101}}</string>
                <key>sourceSize</key>
                <string>{236,133}</string>
            </dict>
            <key>im_point_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1276},{236,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,133}}</string>
                <key>sourceSize</key>
                <string>{236,133}</string>
            </dict>
            <key>im_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,446},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>im_seat_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,440},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>im_self_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,693},{288,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,122}}</string>
                <key>sourceSize</key>
                <string>{288,122}</string>
            </dict>
            <key>im_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{587,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,401}}</string>
                <key>sourceSize</key>
                <string>{587,401}</string>
            </dict>
            <key>im_small_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1276},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>im_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{538,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,134}}</string>
                <key>sourceSize</key>
                <string>{538,134}</string>
            </dict>
            <key>im_time_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,796},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>im_time_jetton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,941},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,118}</string>
            </dict>
            <key>im_userlist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{582,736}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{582,736}}</string>
                <key>sourceSize</key>
                <string>{618,750}</string>
            </dict>
            <key>im_userlist_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{497,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,1}}</string>
                <key>sourceSize</key>
                <string>{497,1}</string>
            </dict>
            <key>im_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{932,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,179}}</string>
                <key>sourceSize</key>
                <string>{932,179}</string>
            </dict>
            <key>im_win_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,572},{636,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,631}}</string>
                <key>sourceSize</key>
                <string>{636,631}</string>
            </dict>
            <key>im_win_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,719},{600,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,137}}</string>
                <key>sourceSize</key>
                <string>{600,137}</string>
            </dict>
            <key>im_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,501},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>txt_ludan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1093},{358,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,35}}</string>
                <key>sourceSize</key>
                <string>{358,35}</string>
            </dict>
            <key>txt_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1276},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>txt_sound_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1276},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>txt_time_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,699},{223,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,50}}</string>
                <key>sourceSize</key>
                <string>{223,50}</string>
            </dict>
            <key>txt_time_jetton.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,327},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0de3a6987e4209a58adee7698c09f349$</string>
            <key>textureFileName</key>
            <string>game_res.png</string>
        </dict>
    </dict>
</plist>
