<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>im_win_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2},{290,72}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,238},{290,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{370,92}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,233},{370,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,350},{530,324}}</string>
                <key>offset</key>
                <string>{9,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{530,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,628},{530,330}}</string>
                <key>offset</key>
                <string>{9,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{530,330}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1160},{530,336}}</string>
                <key>offset</key>
                <string>{9,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{530,336}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{530,340}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{530,340}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{530,344}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,29},{530,344}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{530,346}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{530,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,96},{530,346}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{530,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{530,346}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{530,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{530,346}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{530,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,346}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{530,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,628},{450,188}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,152},{450,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1160},{530,284}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{530,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,350},{516,276}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{516,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,818},{504,268}}</string>
                <key>offset</key>
                <string>{8,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,81},{504,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{516,276}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{516,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,978},{530,284}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{530,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,676},{530,300}}</string>
                <key>offset</key>
                <string>{9,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{530,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>im_win_effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,628},{530,324}}</string>
                <key>offset</key>
                <string>{9,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,37},{530,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_effect.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b4b603bd2b39ef57995fed92cb9997:1/1$</string>
            <key>textureFileName</key>
            <string>win_effect.png</string>
        </dict>
    </dict>
</plist>
