<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_add_frient_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,631},{212,84}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{212,84}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>btn_add_frient_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,432},{248,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,96}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>btn_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,236},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,236},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>btn_del_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,845},{171,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,118}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>btn_friend_list_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,616},{212,84}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{212,84}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>btn_friend_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,334},{248,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,96}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>btn_message_notify_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,530},{212,84}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{212,84}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>btn_message_notify_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,236},{248,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,96}}</string>
                <key>sourceSize</key>
                <string>{248,96}</string>
            </dict>
            <key>sp_btn_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{232,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,342}}</string>
                <key>sourceSize</key>
                <string>{232,342}</string>
            </dict>
            <key>sp_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>sp_friend_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,530},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>sp_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,40},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>sp_list_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{962,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,118}}</string>
                <key>sourceSize</key>
                <string>{962,118}</string>
            </dict>
            <key>sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{185,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,52}}</string>
                <key>sourceSize</key>
                <string>{185,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b928802c4dd531c4ad18365e3908f350$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
