<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Area00_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,393},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area00_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,471},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area00_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,549},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area01_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,627},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area01_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area01_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area02_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area02_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area02_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,874},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area03_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,874},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area03_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area03_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area04_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,711},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area04_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,794},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area04_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,711},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area05_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area05_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area05_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,872},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area06_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,794},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area06_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,711},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area06_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area07_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area07_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,872},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area07_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,794},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area08_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,711},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area08_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area08_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area09_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,550},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area09_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,872},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area09_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,794},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area10_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,711},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area10_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area10_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,628},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area11_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,872},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area11_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,794},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Area11_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,706},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>Bet_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,630},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,628},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,628},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,957},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,957},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,955},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,955},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,955},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,955},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,872},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,789},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,705},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,630},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,922},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Bet_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,839},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
		<key>Function_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,705},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,753},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,769},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,817},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,832},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,889},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,968},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,911},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>Function_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,959},{79,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{79,48}</string>
		</dict>
		<key>TIME_FLAG_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,393},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>TIME_FLAG_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,458},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>TIME_FLAG_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,523},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>TIME_TURN.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,123},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>Writing_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,0},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,126},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,252},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,378},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,504},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,705},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,874},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>Writing_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,705},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>close.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,630},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>close_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,705},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>deFen_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{751,550}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{751,550}</string>
		</dict>
		<key>setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,241},{76,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{76,98}</string>
		</dict>
		<key>setting_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,317},{76,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{76,98}</string>
		</dict>
		<key>xiaoguo_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,0},{103,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{103,123}</string>
		</dict>
		<key>xuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,755},{92,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{92,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GameGSS.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>GameGSS.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
