<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animate_warn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,417},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{76,93}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>Animate_warn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,166},{150,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,93}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>Animate_warn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,364},{132,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{132,93}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>Animate_warn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{70,93}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>Button_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,232},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Button_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,100},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Button_exitGame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,100},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Button_exitGame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,100},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Button_outCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,342},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_outCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,172},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_outNone_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,342},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_outNone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,172},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,342},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_reelect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,172},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_reelect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,194},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>Button_trustee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,160},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Button_trustee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,100},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>CheckBox_soundOff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,100},{58,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{58,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>CheckBox_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,166},{64,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Image_chatBubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,69}}</string>
                <key>sourceSize</key>
                <string>{194,69}</string>
            </dict>
            <key>Sprite_bigTrustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{138,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,172}}</string>
                <key>sourceSize</key>
                <string>{138,172}</string>
            </dict>
            <key>Sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,414},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>Sprite_firstPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,318},{26,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,94}}</string>
                <key>sourceSize</key>
                <string>{26,94}</string>
            </dict>
            <key>Sprite_runfasthn_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{137,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,159}}</string>
                <key>sourceSize</key>
                <string>{137,159}</string>
            </dict>
            <key>Sprite_scoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,172},{117,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,20}}</string>
                <key>sourceSize</key>
                <string>{117,20}</string>
            </dict>
            <key>Sprite_scoreFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,172},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>Sprite_timesFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,290},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>Sprite_topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{676,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,96}}</string>
                <key>sourceSize</key>
                <string>{676,96}</string>
            </dict>
            <key>Sprite_trustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,339},{31,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,33}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>sprite_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,318},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameLayer.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f7653f45a6739d056fd0eb7ec0c8dc$</string>
            <key>textureFileName</key>
            <string>gameLayer.png</string>
        </dict>
    </dict>
</plist>
