<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardEffect9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,242},{202,80}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{202,80}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,204},{400,112}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{400,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{438,112}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{438,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{470,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{470,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{470,110}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,114},{470,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{470,88}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{238,76}}</string>
                <key>offset</key>
                <string>{83,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,30},{238,76}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,230},{114,34}}</string>
                <key>offset</key>
                <string>{114,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,63},{114,34}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,204},{210,88}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{210,88}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,710},{296,112}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{296,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,710},{292,120}}</string>
                <key>offset</key>
                <string>{-69,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{292,120}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,416},{292,120}}</string>
                <key>offset</key>
                <string>{-49,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,14},{292,120}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,318},{332,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{332,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{300,112}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{300,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{340,112}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{340,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{382,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{382,112}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardEffect9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f42cc14824d50f11008de2be00c6527$</string>
            <key>textureFileName</key>
            <string>cardEffect9.png</string>
        </dict>
    </dict>
</plist>
