<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardEffect3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,856},{222,146}}</string>
                <key>offset</key>
                <string>{-104,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{222,146}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{470,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{470,138}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{470,138}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{470,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{470,120}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,582},{244,120}}</string>
                <key>offset</key>
                <string>{-113,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{244,120}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,582},{272,114}}</string>
                <key>offset</key>
                <string>{-75,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{272,114}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,266},{314,126}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{314,126}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{364,122}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{364,122}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,142},{336,122}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,25},{336,122}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,142},{336,122}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,20},{336,122}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,596},{336,122}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,20},{336,122}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,596},{336,122}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,20},{336,122}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
            <key>cardEffect3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{452,124}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{452,124}}</string>
                <key>sourceSize</key>
                <string>{470,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardEffect3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8cdea4a86389cc609eeb7f73d19e85d$</string>
            <key>textureFileName</key>
            <string>cardEffect3.png</string>
        </dict>
    </dict>
</plist>
